h1,h2,p{
  font-family: 'Roboto', sans-serif;
}

h2, p{
    text-align: left;
}

.grid{
    max-width: 992px;
    margin: 0 auto;
}

.borderlessons{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

img{
  max-width: 790px;
}